[submodule "DYEngine/extern/glm"]
	path = DYEngine/extern/glm
	url = https://github.com/ta-david-yu/glm.git
[submodule "DYEngine/extern/imgui/imgui"]
	path = DYEngine/extern/imgui/imgui
	url = git@github.com:ta-david-yu/imgui.git
[submodule "DYEditor/extern/entt"]
	path = DYEditor/extern/entt
	url = git@github.com:ta-david-yu/entt.git
[submodule "DYEditor/DYEditorCodeGenerator/extern/fmt/fmt"]
	path = DYEditor/DYEditorCodeGenerator/extern/fmt/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "DYEditor/extern/tomlplusplus/tomlplusplus"]
	path = DYEditor/extern/tomlplusplus/tomlplusplus
	url = git@github.com:ta-david-yu/tomlplusplus.git
[submodule "DYEngine/extern/ImGuizmo/ImGuzmo"]
	path = DYEngine/extern/ImGuizmo/ImGuzmo
	url = git@github.com:ta-david-yu/ImGuizmo.git
[submodule "DYEngine/extern/SDL_sound/SDL_sound"]
	path = DYEngine/extern/SDL_sound/SDL_sound
	url = git@github.com:ta-david-yu/SDL_sound.git
[submodule "DYEngine/extern/FAudio/FAudio"]
	path = DYEngine/extern/FAudio/FAudio
	url = git@github.com:ta-david-yu/FAudio.git
